<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name=".AttentionApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:enableOnBackInvokedCallback="true"
        android:localeConfig="@xml/locales_config"
        android:fullBackupContent="@xml/backup_descriptor"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar"
        tools:targetApi="33">
        <meta-data android:name="asset_statements" android:resource="@string/asset_statements" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:label="@string/login"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Alert"
            android:theme="@style/Theme.Material3.DayNight.Dialog"
            android:excludeFromRecents="true"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:exported="false"
            tools:targetApi="o_mr1" />
        <service
            android:name=".AlertHandler"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <tools:validation testUrl="http://attention.aracroproducts.com/app/add?username=arcrozier" />
            <tools:validation testUrl="https://attention.aracroproducts.com/app/add?username=arcrozier" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <meta-data
                android:name="android.service.chooser.chooser_target_service"
                android:value="androidx.sharetarget.ChooserTargetServiceCompat" />

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="attention.aracroproducts.com"
                    android:pathPrefix="/app/add" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="attention.aracroproducts.com"
                    android:pathPrefix="/app/add" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar"/>
        <receiver android:name=".SendMessageReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.aracroproducts.attention.broadcast.REPLY" />
            </intent-filter>
        </receiver>

        <service
            android:name=".AlertSendService"
            android:foregroundServiceType="shortService"
            android:exported="false">
        </service>

        <receiver
            android:name=".FriendRequestReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.aracroproducts.attention.broadcast.ACCEPT" />
                <action android:name="com.aracroproducts.attention.broadcast.IGNORE" />
                <action android:name="com.aracroproducts.attention.broadcast.BLOCK" />
            </intent-filter>
        </receiver>

        <service
            android:name=".FriendManagementService"
            android:exported="false"
            android:foregroundServiceType="shortService" />
    </application>

</manifest>